<! DOCTYPE html>
  <html lang="en">

  <head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="UTF=8">
    <meta name="viewport" content="width = device-width" , initial-scale=1.0">
    <title> Calculator WOW </title>
    <style>
      .card {
        border-style: solid;
        background-color: pink;
        width: 500px;
        text-align: center;
      }
    </style>
  </head>




  <body>
    <div id="app" class="card">

      <div>
        <input type="text" ref="num1" v-model="state.num1" style="text-align: center">
      </div>
      <div> + </div>

      <div>
        <input type="text" ref="num2" v-model="state.num2" style="text-align: center">
      </div>

      <div>
        <button @click="doAdd()">
          =
        </button>
      </div>
      <div ref="result">
        {{state.result}}
      </div>
      <div>{{state.num1}} + {{state.num2}} = {{result}}</div>
    </div>
    <script>
      const { createApp, reactive , computed} = Vue
      createApp(
        {
          setup() {
            const state = reactive({
              num1: '1',
              num2: '1',
              result: 2

            })

            const result = computed(
              function(){
                return parseInt(state.num1) + parseInt(state.num2);
              }
            )
            const doAdd = function () {
              state.result = parseInt(state.num1) + parseInt(state.num2);
            }


            return { state, doAdd , result}
          }

        }

      ).mount('#app')
    </script>
  </body>